.type {
  background-color: white;
  color: black;
  text-transform: capitalize;
  font-weight: 400;
  text-align: left;
  padding: 0 40px;
}

.amount {
  background-color: white;
  color: black;
  font-weight: 400;
  text-align: center;
  padding: 0 40px;
}

.currency {
  background-color: white;
  color: black;
  font-weight: 400;
  text-align: center;
  padding: 0 40px;
}

table tr:nth-child(even) td {
  background-color: lightgray;
}
