.item {
  border: 1px solid white;
  border-radius: 10px;
  padding: 15px;
}

.avatar {
  justify-content: center;
}

.name,
.status {
  text-align: center;
}

.name {
  font-weight: 600;
  list-style: none;
}

.Online {
  font-size: 10px;
  color: green;
  text-align: center;
}

.Offline {
  font-size: 10px;
  color: red;
  text-align: center;
}
